.home-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px;
}

@media (max-width: 1000px) {
  .home-layout {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.home-card-cont {
}

.home-card-info-flex {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.home-warehouse {
  width: auto;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
  overflow-y: auto;
}

.home-warehouse h4 {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
}

.home-order {
  width: auto;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  border-radius: 12px;
  overflow-y: auto;
}

.home-order h4 {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
}

/* Quick Actions*/
.home-card-cont h4 {
  margin: 0;
}

.home-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-top: 15px;
  gap: 15px;
  max-width: 100%;
}

.home-card-actions a {
  text-decoration: none;
  color: black;
}

.home-card-actions a:hover {
  text-decoration: none;
  color: lightslategray;
}

.home-actions-btn-cont {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: fit-content;
  gap: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.home-actions-btn-cont span {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.home-actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgb(244, 244, 244);
  max-width: 100px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
}

.home-actions-btn-ico {
  padding: 5px;
  background-color: var(--first-color);
  color: white;
  border-radius: 15px;
}

.home-actions-btn:active {
  box-shadow: none;
}

.home-actions-btn:hover {
  background: rgb(230, 230, 230);
}

/* Charts */
.home-charts {
  margin-left: 20px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.home-chart-single {
  width: 100%;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
}

/* Responsive */

@media (max-width: 500px) {
  .home-layout {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .home-card-cont {
    padding: 0;
    width: 100vw;
    border: none;
  }
  .home-card-info-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 98%;
    margin-bottom: 30px;
  }
  .home-card-actions {
    flex-wrap: wrap;
    width: auto;
    height: 200px;
    gap: 25px;
  }
  .home-warehouse {
    width: auto;
  }
  .home-order {
    width: auto;
  }
  .home-charts {
    margin: 0;
    margin-top: 50px;
    width: auto;
  }
  .home-chart-single {
    width: 100%;
  }
}
