.private-area-layout {
  margin: 0;
}

.private-area-action {
  display: flex;
  justify-content: center;
}
.private-area-action a {
  text-decoration: none;
}

.private-area-table-cont {
  padding-top: 25px;
}

.private-area-table-cont h3 {
  margin: 0;
}

.private-area-del-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: red;
  cursor: pointer;
  color: white;
}
