.users-analytics-layout {
  margin: 0;
  padding: 0;
}

.users-analytics-header {
  margin: 20px 0;
  display: flex;
  gap: 20px;
}

.user-analytic-dash {
  width: 90%;
  height: 600px;
}

.user-analytics-stats {
  width: 300px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.users_stats {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 30%;
  width: 300px;
  background-color: bisque;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  gap: 20px;
}

.users_stats h4 {
  margin: 0;
}

@media (max-width: 500px) {
  .users-analytics-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-bottom: 50px;
  }
  .user-analytic-dash {
    grid-template-columns: 1fr;
    height: 400px;
    width: 100%;
  }
  .user-analytics-stats {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
  }
  .UserStats {
    width: 100%;
    padding: 10px;
  }
}
